<div class="container footer" #footer>
  <div class="row">
    <div class="col-12 col-lg-3 col-xl-2">
      <div class="logo"></div>
      </div>
    <div class="Col-12 col-lg-9 col-xl-10">
      &copy;{{ date.getFullYear() }} RaiTech
      &middot;
      Website developed by
      <a href="https://raitech.org" target="_blank" rel="noopener">Raihan Navroze</a>
      &middot;
      <fa-icon [icon]="faCookieBite"></fa-icon>
      This website uses third-party cookies for analytical purposes.
      &middot;
      <a href="assets/Privacy Policy.pdf" target="_blank" rel="noopener">Privacy Policy</a>
    </div>
  </div>
</div>
