@import "~src/palette";
//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/mixins";


.work-role {
  color: $color-purple-lt;
  font-size: 1.25em;
}

.work-company {

}

.work-points {
  margin-top: 8px;

  ul {
    //list-style-position: inside;
    padding-left: 20px;
    margin-bottom: 0;
  }
}

.work-duration {
  font-style: italic;
  color: $color-purple-lt;
}

.work-row {
  margin-bottom: 20px;
}

.work-row:last-child {
  margin-bottom: 0;
}
