<ul ngbNav [destroyOnHide]="false" #skillNav="ngbNav" class="skillnav">
  <li ngbNavItem>
    <a ngbNavLink>Tech Skills</a>
    <ng-template ngbNavContent>
      <app-skill-contents [skills]="skills" skillType="tech"></app-skill-contents>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Soft Skills</a>
    <ng-template ngbNavContent>
      <app-skill-contents [skills]="skills" skillType="soft"></app-skill-contents>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Work Experience</a>
    <ng-template ngbNavContent>Hello 3</ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="skillNav" class="navcontent"></div>
