<ul ngbNav #skillNav="ngbNav" class="skillnav" (activeIdChange)="animateTabChange($event)">
  <li ngbNavItem>
    <a ngbNavLink>Tech Skills</a>
    <ng-template ngbNavContent>
      <app-skill-contents [skills]="skills" skillType="tech" [firstRun]="firstRun"></app-skill-contents>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Soft Skills</a>
    <ng-template ngbNavContent>
      <app-skill-contents [skills]="skills" skillType="soft"></app-skill-contents>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Work Exp<span class="d-none d-sm-inline">erience</span></a>
    <ng-template ngbNavContent>
      <app-skill-contents [skills]="skills" skillType="work"></app-skill-contents>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="skillNav" class="navcontent" [@fadeAnimationSmall]="getCurrentTab()"></div>
