<div class="page-container row page-about">
  <div class="col-12 col-lg-5">
    <div class="left-col">
      <div class="behind light">
        Behind <span class="bold">RAI</span>TECH
      </div>
      <div class="rai-pic"></div>
      <div class="name">
        <div class="firstname bold">RAIHAN</div>
        NAVROZE
      </div>
      <div class="info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse mollitia nostrum reiciendis suscipit temporibus. A, corporis cupiditate ex fugiat nesciunt numquam officia quos sapiente suscipit unde ut veniam veritatis voluptas?
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-7">
    <app-skills></app-skills>
  </div>
</div>
