<div class="page-container row page-about">
  <div class="col-12 col-lg-5">
    <div class="left-col sticky-top">
      <div class="behind">
        <span class="light">Behind</span>&nbsp;<span class="bold">RAI</span>TECH
      </div>
      <div class="rai-pic"></div>
      <div class="name">
        <div class="firstname bold">RAIHAN</div>
        NAVROZE
      </div>
      <div class="info">
        Not only am I a skilled programmer, but I also have
        over  4  years  of  experience  in  leading  teams  and  managing  projects.  My
        passion  for  learning and  skills  with development and frameworks makes me
        great at understanding client requirements and building solutions. My three-step process for projects is <br />
        <span class="bold">Consultation - Planning - Development of Solution</span>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-7">
    <app-skills></app-skills>
  </div>
</div>
