<div class="page-container page-projects">
  <div class="row">
    <div class="col-12 text-center">
      <div class="previous-projects-title">
        PREVIOUS
        <span class="bold">PROJECTS</span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!ready">
    <div class="col-2 d-none d-lg-flex"></div>
    <div class="col-12 col-lg-8">
      <app-loading></app-loading>
    </div>
    <div class="col-2 d-none d-lg-flex"></div>
  </div>
  <ng-container *ngIf="ready">
    <div class="row">
      <div class="col-12 text-center">
        <ul ngbNav #projNav="ngbNav" class="projnav" (activeIdChange)="animateTabChange($event)">
          <li ngbNavItem>
            <a ngbNavLink>All Projects</a>
            <ng-template ngbNavContent>
              <div class="row proj-contents">
                <div class="col-12 col-lg-4" *ngFor="let proj of projects, index as idx">
                  <app-project-card [project]="proj"></app-project-card>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem *ngFor="let catId of catArray">
            <a ngbNavLink>{{ categories.get(catId) }}</a>
            <ng-template ngbNavContent>
              <div class="row proj-contents">
                <div class="col-12 col-lg-4" *ngFor="let proj of projectsByCat.get(catId)">
                  <app-project-card [project]="proj"></app-project-card>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 navcontent" [ngbNavOutlet]="projNav" [@fadeAnimationProjects]="getCurrentTab()">
      </div>
    </div>
  </ng-container>
</div>
