<div class="page-container page-projects">
  <div class="row">
    <div class="col-12 text-center">
      <div class="previous-projects-title">
        <span class="bold">PREVIOUS</span>
        PROJECTS
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <ul ngbNav #projNav="ngbNav" class="projnav" (activeIdChange)="animateTabChange($event)">
        <li ngbNavItem>
          <a ngbNavLink>All Projects</a>
          <ng-template ngbNavContent>
            <div class="row" style="margin-top: 40px; margin-left: auto; margin-right: auto;">
              <div class="col-4"><app-project-card></app-project-card></div>
              <div class="col-4"><app-project-card></app-project-card></div>
              <div class="col-4"><app-project-card></app-project-card></div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Projects with Demo</a>
          <ng-template ngbNavContent>
            henlo2
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Projects without Demo</a>
          <ng-template ngbNavContent>
            henlo3
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Hobby Projects</a>
          <ng-template ngbNavContent>
            henlo4
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 navcontent" [ngbNavOutlet]="projNav" [@fadeAnimationSmall]="getCurrentTab()">
    </div>
  </div>
</div>
