@import "~src/palette";
//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/mixins";

.previous-projects-title {
  font-size: 3em;
  margin: 40px 0;
  color: $color-bright;
}
