<div class="page-container">
  <div class="row" *ngIf="!ready">
    <div class="col-2 d-none d-lg-flex"></div>
    <div class="col-12 col-lg-8">
      <app-loading></app-loading>
    </div>
    <div class="col-2 d-none d-lg-flex"></div>
  </div>
  <div class="project-detail row" *ngIf="ready">
    <div class="col-12 col-lg-4">
      <div class="project-img" [ngStyle]="imgStyle"></div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="project-title bold">
        {{ project.name }}
      </div>
      <div class="project-desc">
        {{ project.description }}
      </div>
      <div class="project-buttons">
<!--        <a href="#">View Demo</a>-->
        <a (click)="openGallery(gallery)" *ngIf="project.type === 'gallery'">View Gallery</a>
        <a [href]="project.link" rel="noopener" target="_blank"
           *ngIf="project.type === 'site'">Visit Site</a>
        <a [href]="project.link" rel="noopener" target="_blank"
           *ngIf="project.type === 'project'">View Project</a>
        <a [href]="project.link" rel="noopener" target="_blank"
           *ngIf="project.type === 'demo'">View Demo</a>
        <a routerLink="/projects">Back to Projects</a>
      </div>
    </div>
  </div>
</div>
<ng-template #gallery let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Project Gallery</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-carousel *ngIf="project.images">
      <ng-template ngbSlide *ngFor="let img of project.images">
        <div class="picsum-img-wrapper">
          <img [src]="'/assets/projects/' + project.imagedir + '/' + img.image" [alt]="img.desc">
        </div>
        <div class="carousel-caption">
          <p>{{ img.desc }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</ng-template>
<ngb-toast [ngStyle]="toastStyle" #landscapeToast>
  For a better viewing experience, please use landscape mode.
</ngb-toast>
