@import "~src/palette";

.page-container {
  padding-top: 40px;
}

.project-detail {
  padding: 32px 24px;
  background-color: $color-bright;
  border-radius: 4px;
}

.project-img {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
}

.project-title {
  font-size: 1.8em;
  color: $color-green-dk;
}

.project-desc {
  margin-top: 20px;
}

.project-buttons {
  margin-top: 15px;

  a {
    display: inline-block;
    cursor: pointer;

    color: $color-bright;
    background-color: $color-green-lt;
    text-align: center;

    font-family: 'Hind Bold', 'Hind', 'Arial Bold', 'Arial', sans-serif;
    font-weight: 700;

    border-radius: 4px;
    //min-width: 160px;
    margin-right: 10px;
    padding: 10px;
    transition: all .2s ease-in-out;
    margin-top: 5px;
  }

  li:last-child > a {
    margin-right: 0;
  }

  a:hover {
    text-decoration: none;
    background-color: $color-green-dk;
    color: $color-bright;
    transition: all .2s ease-in-out;
  }
}


ngb-carousel .picsum-img-wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .picsum-img-wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 70%, rgba(0,0,0,0) 100%);
}

::ng-deep .carousel-control-prev-icon, ::ng-deep .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.6);
  border: 4px solid rgba(0, 0, 0, 0);
}

::ng-deep .carousel-control-prev, ::ng-deep .carousel-control-next {
  z-index: 1500;
  cursor: pointer;
}

.toast {
  position: fixed;
  bottom: 40px;
  right: 20px;
  visibility: hidden;
  z-index: 1800;
}
