@import "~src/palette";

.bar-component {
  display: inline-block;
  transition: width 1.5s ease-out;
}

.bar-filled {
  background-color: $color-purple-lt;
}

.bar-unfilled {
  background-color: $color-purple-xlt;
}
