@import "~src/palette";
//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/mixins";

.skill-content {
  width: 100%;
  background-color: $color-bright;
  border-radius: 4px;
  color: $color-dark;
  padding: 14px 14px 22px;
  position: absolute;
}

