<div class="skill-content">
  <div class="row">
    <div class="col-12 title bold">
      Hard Skills
    </div>
  </div>
  <div class="row skill-row" *ngFor="let a of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
    <div class="col-1 d-none d-lg-flex"></div>
    <div class="col-4 col-lg-3 skill-name">
      JavaScript
    </div>
    <div class="col-3 light skill-years">
      5 years
    </div>
    <div class="col-5 skill-level">
<!--      <div style="width: 120px; background-color: #A54A9F; display: inline-block;">&nbsp;</div>-->
      <!--      <div style="width: 40px; background-color: #E0BCDD; display: inline-block;">&nbsp;</div>-->
      <div style="width: 80px; background-color: #A54A9F; display: inline-block;">&nbsp;</div>
      <div style="width: 20px; background-color: #E0BCDD; display: inline-block;">&nbsp;</div>
    </div>
  </div>
</div>
