<div class="skill-content">
  <ng-container *ngIf="!skills.hasOwnProperty('techSkills')">
    <app-loading></app-loading>
  </ng-container>
  <ng-container *ngIf="skills.hasOwnProperty('techSkills')">
    <app-skills-tech-skills *ngIf="skillType == 'tech'" [techSkills]="skills['techSkills']"
                            [firstRun]="firstRun">
    </app-skills-tech-skills>
    <app-skills-soft-skills *ngIf="skillType == 'soft'" [softSkills]="skills['softSkills']">
    </app-skills-soft-skills>
    <app-skill-work-exp *ngIf="skillType == 'work'" [workExp]="skills['workExp']">
    </app-skill-work-exp>
  </ng-container>
</div>
