<div [routerLink]="['/projects', project.id]" class="project-card">
  <div class="project-img text-hide" [ngStyle]="style">Project Image</div>
  <div class="project-text">
    <div class="project-title bold">
      {{ project.name }}
    </div>
    <div class="project-desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cupiditate facere in laborum laudantium minus,
      obcaecati quo ullam veritatis voluptatibus! A, aspernatur eaque fugit hic incidunt nemo obcaecati quibusdam ut
      vitae? Lorem ipsum dolor sit amet, consectetur adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Assumenda dolorem fugiat fugit, illum molestias neque quod tempora temporibus. Aperiam at deleniti
      doloremque facilis harum libero omnis ratione reiciendis repellat veritatis.
    </div>
  </div>
  <div class="project-info text-right bold">
      <a [routerLink]="['/projects', project.id]">View Project</a>
    </div>
</div>
