@import "~src/palette";

.project-card {
  width: 100%;
  height: 416px;
  background-color: $color-bright;
  border-radius: 4px;
  padding: 12px;
  margin-top: 20px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;
  position: relative;
  top: 0;
  left: 0;
}

.project-card:hover {
  top: -2px;
  left: -2px;
  box-shadow: 4px 4px 4px 0 rgba($color-green-dk, 0.6);
}

.project-img {
  width: 100%;
  height: 150px;
  background-position: center;
  background-size: cover;
}

.project-text {
  height: 208px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-title {
  margin-top: 8px;
  font-size: 1.2em;
  color: $color-green-lt;
}

.project-desc {
  margin-top: 4px;
  //height: 168px;
  //overflow: hidden;
  //text-overflow: ellipsis;
}

.project-info {
  margin-top: 8px;
  a {
    color: $color-green-lt;
    text-decoration: underline;
    font-size: 1.1em;
  }
}
