// Palettes
$color-blue-lt: #427CA6;
$color-blue-dk: #2B506B;
$color-purple-lt: #A54A9F;
$color-purple-dk: #592856;
$color-green-lt: #1CA697;
$color-green-dk: #116B62;
$color-orange-lt: #F26E21;
$color-orange-dk: #8A3F13;
$color-bright: #F2F2F2;
$color-dark: #262626;

$color-purple-xlt: #E0BCDD;

// Link colours
$color-link-default: #1C7EFE;
$color-link-orange: #8FE56A;
$color-link-purple: #D1E969;
$color-link-green: #FFD17D;

// Reference: https://paletton.com/#uid=60m0u0krDunhdDSmiw3uEoVyRjJ
// old: $color-green-lt: #1EBFAF;
