// Palettes
$color-blue-lt: #427CA6;
$color-blue-dk: #2B506B;
$color-purple-lt: #A54A9F;
$color-purple-dk: #592856;
$color-green-lt: #1EBFAF;
$color-green-dk: #116B62;
$color-orange-lt: #F26E21;
$color-orange-dk: #8A3F13;
$color-bright: #F8F9FA;
$color-dark: #262626;
