<div class="tech-skills">
  <div class="row skill-row" *ngFor="let skill of techSkills, index as idx">
    <div class="col-1 d-none d-lg-flex"></div>
    <div class="col-4 col-lg-3 skill-name">
      {{ skill.name }}
    </div>
    <div class="col-3 light skill-years">
      {{ isHalf(skill.years)
      ? halfToFrac(skill.years)
      : (skill.years | i18nPlural: yearPluralMapping) }}
    </div>
    <div class="col-5 col-lg-4 skill-level">
      <app-skill-bar [value]="skill.years" [max]="skillBarMax"
                     [sequence]="idx" [firstRun]="firstRun">
      </app-skill-bar>
    </div>
    <div class="col-1 d-none d-lg-flex"></div>
  </div>
</div>
