<div class="container-fluid home-buttons">
  <div class="row align-items-center">
    <div class="col-12">
      <div style='color: #262626; font-size: 3em;'>Coming soon.</div>
    </div>
    <!--  <app-home-button color="purple" link="about">About</app-home-button>
    </div>
    <div class="col-12">
      <app-home-button color="green" link="projects">Previous Projects</app-home-button>
    </div>
    <div class="col-12">
      <app-home-button color="orange" link="contact" last="true">Contact</app-home-button>
    </div>-->
  </div>
</div>
