//@import "~src/palette";

.home-container {
  height: 100vh;
}
.home {
  //background-color: $color-bright;
  //margin-top: -60px;
  position: relative;
  top: -60px;
}
.fullheight {
  height: 100%;
  min-height: 100%;
}
